:host {
    top: 20px;
    right: 0;
    bottom: 2px;
    left: 40px; /* było 50px */
}

:host([theme~='black']) [part='overlay']::before {
    content: '';
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 3px;
    border-top: 1px solid #ffffff42;
    border-bottom: 1px solid #ffffff42;
    box-shadow: 0px 0px 10px black;
}

:host([theme~='black']) [part='overlay'] {
    background: rgb(27 27 27 / 78%);
    color: white;
    text-shadow: 1px 1px black;
    overflow: hidden;
}
:host([theme~='black']) [part='header'] {
    background-color: inherit;
}
.app-window[theme~='black'] .header-label {
    text-shadow: black 1px 1px 1px;
    color: white;
}
:host([theme~='black']) [part='footer'] {
    background: none;
}

[part='overlay'] {
    min-width: 320px;
    min-height: 160px;
}

:host([theme~='expanded_window']) [part='overlay'] {
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
}

:host([theme~='app-dialog']) [part='header'] {
    background: var(--lumo-tint-5pct);
    background: linear-gradient(0deg, var(--app-header-2) 0%, var(--app-header-1) 100%);
    border-bottom: solid 1px var(--app-border);
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 14px;
}

:host([theme~='app-dialog']) [part='content'] {
    border-left: solid 1px var(--lumo-contrast-10pct);
    border-right: solid 1px var(--lumo-contrast-10pct);
    border-bottom: solid 1px var(--lumo-contrast-10pct);
}

:host([theme~='no-radius']) [part='overlay'] {
    border-radius: 3px 0 0 0;
}