:host([theme='dock']) [part='overlay'] {
    background-color: rgb(0 0 0 / 59%);
    color: white;
    border-radius: 7px;
    border: solid 1px #ffffff75;
    text-shadow: 1px 1px 2px black;
    background-image: linear-gradient(45deg, #7a7a7a85, #00000054);
}

:host([theme='dock']) {
    z-index: 100001;
}

