:host {
    font-weight: 400;
}
:host ::slotted(img) {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

:host ::slotted(span) {
    font-size: var(--lumo-font-size-m);
    width: auto;
    padding-right: 16px;
}

:host([orientation='horizontal'])::before, :host([orientation='horizontal'])::after {
    width: 100%;
}

:host([theme~='warning'])::before {
    background-color: var(--app-warning);
}