:host([class~="menu-btn"]) {
    background: none;
    color: white;
    border: none;
    margin: 0;
    height: 20px;
}

:host([theme~="no-border"]) {
    border-radius: 0;
}

:host([theme~='tab']) {
    padding: 0;
    margin: 0;
    border-radius: 0;
    height: 28px;
    background-color: var(--lumo-base-color4);
}

:host([theme~='info_l']) {
    color: #525252;
    text-shadow: 0 1px 1px white;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
}

:host([theme~='error_l']) {
    color: white;
    text-shadow: 0 1px 1px black;
    background: #ff1a00;
    background: -moz-linear-gradient(top, #ff1a00 0%, #b70000 100%);
    background: -webkit-linear-gradient(top, #ff1a00 0%, #b70000 100%);
    background: linear-gradient(to bottom, #ff1a00 0%, #b70000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a00', endColorstr='#b70000', GradientType=0);
}

:host([theme~='primary_l']) {
    color: white;
    text-shadow: 0 1px 1px #093766;
    background: #388ff5;
    background: -moz-linear-gradient(top, #3a76e4 0%, #1e56ab 100%);
    background: -webkit-linear-gradient(top, #3a76e4 0%, #1e56ab 100%);
    background: linear-gradient(to bottom, #3a76e4 0%, #1e56ab 100%);
}

:host([theme~='success_l']) {
    color: white;
    text-shadow: 0px 1px 1px #035709;
    background: #22864a;
    background: -moz-linear-gradient(top, #22864a 0%, #196035 100%);
    background: -webkit-linear-gradient(top, #22864a 0%, #196035 100%);
    background: linear-gradient(to bottom, #22864a 0%, #196035 100%);
}

:host([theme~='tab-close']) {
    right: 0;
    position: absolute;
}

:host([theme~='small']) {
    height: 19px;
    margin: 0;
}