:host [part='tabs-container'] {
    padding: 0;
    border-bottom: solid 1px var(--app-border);
    gap: 0;
}

:host [part='content'] {
    padding: 0;
}

:host [part='content'] {
    margin: 0;
    --vaadin-scroller-padding-block: 0px;
    --vaadin-scroller-padding-inline: 0px;
}

::slotted([slot='tabs']) {
    box-shadow: initial;
    margin: 0;
}