/***********************************DOCK***************************************************/
html{
    --dock-img-size: 35px;
    --dock-padding: 5px;
    --dock-dbl-padding: 10px;
    --elem-margin: 3px;
}
#green-line {
    border-bottom: solid 2px #1ED760;
    width: 100%;
    height: 1px;
    position: fixed;
    bottom: 0;
}
/***********************************DOCK***************************************************/

div#dockContainer {
    height: auto;
    margin-top:10px;
    width: calc(var(--dock-img-size) + var(--dock-dbl-padding));
    border-radius: 5px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(16px) saturate(160%); /* Safari */
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

ul.osx-dock {
    user-select: none;
    padding-left: var(--dock-padding);
}

ul.osx-dock li {
    display: block;
    -webkit-transition: 0.15s linear;
    -webkit-transition-property: -webkit-transform;
}

ul.osx-dock li p {
    -webkit-transition: 0.15s linear;
    margin-top: var(--elem-margin);
    margin-bottom: var(--elem-margin);
}

ul.osx-dock li p img {
    width: var(--dock-img-size);
    height: var(--dock-img-size);
}

ul.osx-dock li:hover p {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.15);
}


vaadin-popover[theme~="dock"]::part(overlay){
    background: rgba(0, 0, 0, 0.75);
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px 4px 4px 0;
    width: auto;
    color: rgb(255, 255, 255);
    white-space: nowrap;
}

ul.osx-dock.draggable li:hover {
    margin-left: 0;
    margin-right: 0;
    z-index: 1;
}

ul.osx-dock.draggable li:hover p {
    -webkit-transform-origin: none;
    -webkit-transform: none;
}
.active div.flara {
    background: #fff;
    width: 5px;
    height: 5px;
    display: block;
    border-radius: 30px;
    position: absolute;
    margin-top: -25px;
    margin-left: -6px;

}
