html {
    --pacos-green: #5B8F53;
    --text-color: white;
}

.installer {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(#2B2F31, #15181a);
    font-family: system-ui;
}

.installer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.installer .box {
    width: 560px;
    height: 520px;
    background: #323638;
    box-shadow: 4px 4px 9px -2px #0000004d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    border: solid 1px #50504E;
    border-radius: 2px;
    z-index: 2;
}

.installer .page-title {
    display: flex;
    align-items: center;
    gap: 6px;
}

.installer .title {
    color: var(--text-color);
    font-size: 16px;
}

.installer .page-title img {
    padding: 8px;
}

.installer hr {
    background-color: hsl(0deg 0% 100% / 10%);
}

.installer .content {
    padding-top: 16px;
    margin-left: 24px;
    height: 384px;
    padding-right: 24px;
}

.installer span.text-line {
    color: var(--text-color);
    display: block;
    font-weight: 100;
    padding-bottom: 11px;
}

.installer vaadin-button {
    font-size: 11px;
}

.installer vaadin-button.next-btn {
    float: right;
    border-radius: 4px 0 0 8px;
    color: var(--text-color);
    margin-top: 16px;
    min-width: 80px;
    background-color: var(--pacos-green);
    font-size: 13px;
    height: 28px;
    display: block;
}

.installer vaadin-button.back-btn {
    border-radius: 0px 4px 8px 0px;
    color: var(--text-color);
    margin-top: 16px;
    min-width: 80px;
    background-color: #303436;
    font-size: 13px;
    height: 28px;
    border: solid 2px var(--pacos-green);
    border-left: none;
}

.installer .mode {
    width: 50%;
    height: 240px;
    border: solid 1px #767676;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #4b4b4b47;
    background-color: #525252;
    font-size: 11px;
}

.installer .mode img {
    margin: 16px auto 0 40%;
    border: solid 2px #4b4b4b;
    border-radius: 19px;
    box-shadow: 2px 2px 2px #545454;
    filter: hue-rotate(-89deg) saturate(50%);
}

.installer .mode-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.installer span.mode-value {
    display: block;
    font-weight: 100;
    padding-left: 16px;
}

.installer .mode.active {
    box-shadow: 0px 0px 10px var(--pacos-green);
}

.installer .mode.active img {
    box-shadow: 0px 0px 10px var(--pacos-green);
    border: solid 2px var(--pacos-green);
}

.installer my-spinner {
    width: 16px;
    height: 16px;
    border: 2px solid var(--lumo-primary-text-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotationSpin 1s linear infinite;
    margin-right: 3px;
    margin-top: 16px;
}

.installer .module-info {
    border: solid 1px hsl(210deg 3.59% 54.81%);
    border-radius: 2px;
    box-shadow: 0 0 2px hsl(0deg 0% 0%) inset;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.installer .m-block {
    margin: 2px;
    font-size: 10px;
}

.installer .m-bold {
    font-weight: 400;
}

.installer .m-desc {
    text-indent: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 100;
}

.installer .m-block img {
    padding: 2px;
    max-width: 56px;
    max-height: 56px;
    background-size: cover;
}

.installer .m-block-image {
    width: 80px;
    height: 56px;
    max-height: 56px;
    background-size: cover;
    padding: 2px;
}

.installer .m-btn {
    text-align: right;
}

.installer .m-deleted {
    opacity: 0.4;
    text-decoration: line-through;
}

.installer .inline {
    display: inline-block;
}

.installer .add-btn {
    margin-top: -2px;
    margin-right: -2px;
    border-radius: 0px 2px 0 8px;
}

.installer .module-info.active {
    border-color: #00a1ff;
    box-shadow: 0px 0px 3px #70c2ff;
}

.installer .version {
    text-align: right;
    display: block;
    margin-top: -18px;
    margin-right: 11px;
}

.installer .search {
    margin-top: -4px;
    margin-bottom: 4px;
    width: 512px;
}