html {
    --pacos-green: #5B8F53;
    --text-color: white;
}

.installer {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(#2B2F31, #15181a);
    font-family: system-ui;
}
.installer .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.installer .box {
    width: 700px;
    height: 650px;
    background: #323638;
    box-shadow: 5px 5px 11px -2px #0000004d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    border: solid 1px #50504E;
    border-radius: 2px;
    z-index: 2;
}

.installer .page-title{
    display: flex;
    align-items: center;
    gap: 8px;
}

.installer .title {
    color: var(--text-color);
    font-size: 20px;
}

.installer .page-title img{
    padding: 10px;
}

.installer hr {
    background-color: hsl(0deg 0% 100% / 10%);
}

.installer .content {
    padding-top: 20px;
    margin-left: 30px;
    height: 480px;
    padding-right: 30px;
}

.installer span.text-line {
    color: var(--text-color);
    display: block;
    font-weight: 100;
    padding-bottom: 14px;
}
.installer vaadin-button{
    font-size: 14px;
}
.installer vaadin-button.next-btn {
    float: right;
    border-radius: 5px 0 0 10px;
    color: var(--text-color);
    margin-top: 20px;
    min-width: 100px;
    background-color: var(--pacos-green);
    font-size:16px;
    height: 35px;
    display: block;
}

.installer vaadin-button.back-btn {
    border-radius: 0px 5px 10px 0px;
    color: var(--text-color);
    margin-top: 20px;
    min-width: 100px;
    background-color:#303436;
    font-size:16px;
    height: 35px;
    border: solid 2px var(--pacos-green);
    border-left: none;
}


.installer .mode {
    width: 50%;
    height: 300px;
    border: solid 1px #767676;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #4b4b4b47;
    background-color: #525252;
    font-size: 14px;
}

.installer .mode img {
    margin: 20px auto 0 40%;
    border: solid 2px #4b4b4b;
    border-radius: 24px;
    box-shadow: 2px 2px 3px #545454;
    filter: hue-rotate(-89deg) saturate(50%);
}

.installer .mode-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.installer span.mode-value {
    display: block;
    font-weight: 100;
    padding-left: 20px;
}

.installer .mode.active {
    box-shadow: 0px 0px 12px var(--pacos-green)
}

.installer .mode.active img {
    box-shadow: 0px 0px 12px var(--pacos-green);
    border: solid 2px var(--pacos-green)
}

.installer my-spinner {
    width: 20px;
    height: 20px;
    border: 2px solid var(--lumo-primary-text-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotationSpin 1s linear infinite;
    margin-right: 4px;
    margin-top: 20px;
}

@keyframes rotationSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.installer .module-info {
    border: solid 1px hsl(210deg 3.59% 54.81%);
    border-radius: 3px;
    box-shadow: 0 0 3px hsl(0deg 0% 0%) inset;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.installer .m-block {
    margin: 2px;
    font-size: 13px;
}

.installer .m-bold {
    font-weight: 400;
}

.installer .m-desc {
    text-indent: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 100;
}

.installer .m-block img {
    padding: 2px;
    max-width: 70px;
    max-height: 70px;
    background-size: cover;
}

.installer .m-block-image {
    width: 100px;
    height: 70px;
    max-height: 70px;
    background-size: cover;
    padding: 2px;
}

.installer .m-btn {
    text-align: right;
}

.installer .m-deleted {
    opacity: 0.4;
    text-decoration: line-through;
}

.installer .inline {
    display: inline-block;
}

.installer .add-btn {
    margin-top: -2px;
    margin-right: -2px;
    border-radius: 0px 2px 0 10px;
}

.installer .module-info.active {
    border-color: #00a1ff;
    box-shadow: 0px 0px 4px #70c2ff;
}

.installer .version {
    text-align: right;
    display: block;
    margin-top: -22px;
    margin-right: 14px;
}

.installer .search {
    margin-top: -5px;
    margin-bottom: 5px;
    width: 640px;
}