body {
    font-family: 'Catamaran', sans-serif;
    margin: 0;
    padding: 0;
}

div.welcome-background {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #ffffff;
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(192, 201, 209, 1) 100%);
}

div.center {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img{
    width: 160px;
    margin-left: 60px;
}
div.window {
    width: 360px;
    background: #ffffff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 4px 4px 9px -2px #0000004d;
    border: solid 1px #ffffff12;
}

div.login-content {
    z-index: 2;
}

div.login-field {
    margin-bottom: 8px;
}

.clock {
    height: 100%;
    width: 160px;
    display: block;
    float: left;
}

.login-btn {
    color: #ffffff;
    margin-top: 16px;
    min-width: 80px;
    background-color: #96C72F;
    font-size: 13px;
    height: 28px;
    width: 160px;
    display: block;
    left: 104px;
}

.login-invert-btn {
    color: #ffffff;
    margin-top: 16px;
    min-width: 80px;
    background-color: #303436;
    font-size: 13px;
    height: 28px;
    width: 160px;
    display: block;
    left: 104px;
    border: solid 2px #5B8F53;
}

.login-guest-btn {
    background: linear-gradient(270deg,rgba(242, 117, 35, 1) 0%, rgba(175, 48, 102, 1) 100%);
    border: none;
}

.register {
    color: #767676;
    margin-top: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    cursor: pointer;
}

.footer {
    text-align: right;
    margin-top: 16px;
    color: #737373;
}

.footer a {
    color: #0097ff;
    padding-left: 4px;
    padding-right: 4px;
}

.footer .point {
    background-color: #737373;
    width: 6px;
    height: 6px;
    border-radius: 8px;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 1px;
}