body {
    font-family: 'Catamaran', sans-serif;
    margin: 0;
    padding: 0;
}

div.welcome-background {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #ffffff;
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(192, 201, 209, 1) 100%);

}

div.center {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.window {
    width:450px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 11px -2px #0000004d;
    border: solid 1px #ffffff12;
}
div.login-content{
    z-index: 2;
}
div.login-field{
    margin-bottom: 10px;
}
.clock {
    height: 100%;
    width: 200px;
    display: block;
    float: left;
}

.login-btn {
    color: #ffffff;
    margin-top: 20px;
    min-width: 100px;
    background-color:#96C72F;
    font-size:16px;
    height: 35px;
    width: 200px;
    display: block;
    left: 130px;
}

.login-invert-btn {
    color: #ffffff;
    margin-top: 20px;
    min-width: 100px;
    background-color:#303436;
    font-size:16px;
    height: 35px;
    width: 200px;
    display: block;
    left: 130px;
    border: solid 2px #5B8F53
}
.login-guest-btn{
    background: linear-gradient(270deg,rgba(242, 117, 35, 1) 0%, rgba(175, 48, 102, 1) 100%);
    border: none;
}
.register{
    color: #767676;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    cursor: pointer;
}

.footer{
    text-align:right;
    margin-top: 20px;
    color: #737373;
}
.footer a{
    color: #0097ff;
    padding-left:5px;
    padding-right: 5px;
}
.footer .point{
    background-color:  #737373;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    display:inline-block;
    margin-right: 5px;
    margin-bottom: 1px;

}