.m-info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 8px;
    border-bottom: solid 1px var(--app-border);
}

.m-info:hover {
    background-color: var(--app-hover);
}

.m-info .btn-group {
    margin-right: 16px;
    margin-top: 8px;
}

.m-list {
    border-left: solid 1px var(--app-border);
    border-right: solid 1px var(--app-border);
    border-top: solid 1px var(--app-border);
}

.m-block-image {
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
    text-align: center;
}

.m-block-image img {
    width: 36px;
    height: 36px;
}

.m-block .inline.details {
    padding-top: 12px;
    font-weight: 100;
}

.m-desc {
    text-indent: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.m-bold {
    font-weight: 600;
}

.m-btn {
    text-align: right;
}

.m-deleted {
    opacity: 0.4;
    text-decoration: line-through;
}

.m-over {
    line-height: 20px;
    white-space: pre-line;
}

.m-over p {
    text-indent: 1.5em;
}

.m-point {
    display: list-item;
    list-style-type: square;
    list-style-position: inside;
}

.m-detail {
    padding: 8px;
    border: solid 1px var(--app-border);
    display: flex;
    flex-direction: column;
    transform: inherit;
    overflow: hidden !important;
}