div.board {
    margin-top: 17px;
}

div.board .app_icon {
    display: inline-block;
    width: 100px;
    height: 100px;
}

div.board img.appicon {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}

div.board span.title {
    display: block;
    text-align: center;
    user-select: none;
    font-weight: 500;
    color: var(--app-header);
    text-shadow: 1px 1px 0 var(--app-header-1);
    margin: 1px;
}

vaadin-icon.red-circle::after {
    content: ' ';
    background: red;
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 30px;
    left: 13px;
    top: 14px;
}


.blink-image {
    filter: grayscale(100%);
    -moz-animation: blink normal 1s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 1s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 1s infinite ease-in-out; /* IE */
    animation: blink normal 1s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

@-moz-keyframes blink {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
    }
}

/* IE */
@-ms-keyframes blink {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
    }
}

/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
    }
}