div.board {
    margin-top: 14px;
}

div.board .app_icon {
    display: inline-block;
    width: 80px;
    height: 80px;
}

div.board img.appicon {
    width: 35px;
    height: 35px;
    display: block;
    margin: auto;
}

div.board span.title {
    display: block;
    text-align: center;
    user-select: none;
    font-weight: 500;
    color: var(--app-header);
    text-shadow: 1px 1px 0 var(--app-header-1);
    margin: 1px;
    font-size: 11px;
}

vaadin-icon.red-circle::after {
    content: ' ';
    background: red;
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 24px;
    left: 10px;
    top: 11px;
}

.blink-image {
    filter: grayscale(100%);
    -moz-animation: blink normal 1s infinite ease-in-out;
    -webkit-animation: blink normal 1s infinite ease-in-out;
    -ms-animation: blink normal 1s infinite ease-in-out;
    animation: blink normal 1s infinite ease-in-out;
}

@-moz-keyframes blink {
    0% { opacity: 0.8; }
    50% { opacity: 0.3; }
    100% { opacity: 0.8; }
}

@-webkit-keyframes blink {
    0% { opacity: 0.8; }
    50% { opacity: 0.3; }
    100% { opacity: 0.8; }
}

@-ms-keyframes blink {
    0% { opacity: 0.8; }
    50% { opacity: 0.3; }
    100% { opacity: 0.8; }
}

@keyframes blink {
    0% { opacity: 0.8; }
    50% { opacity: 0.3; }
    100% { opacity: 0.8; }
}